.navigationScreen {
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--lightGreen);
  width: 70%;
  position: absolute;
  right: 0%;
  transform: translateX(100%);
  z-index: 1;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  position: fixed;
  a {
    font-size: var(--textSize);
    opacity: 1;
  }
  border-left: 1px solid black;

  //   width: fit-content;
}

.showNavigationScreen {
  animation: showScreen 0.4s ease-in-out forwards;
}

.hideNavigationScreen {
  animation: hideScreen 0.4s ease-in-out forwards;
}

@keyframes hideScreen {
  to {
    transform: translateX(100%);
  }
}

@keyframes showScreen {
  to {
    transform: translateX(0%);
  }
}

.hamburger {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: absolute;
  right: 2rem;
  top: 2rem;
  background-color: black;
  z-index: 2;
  position: fixed;
}
